@inherits LessonTypeBase

@if (NotReady())
    return;

<div class="row py-4">
    <div class="col-12 text-center">
        @{
            VocabHeader Term = Logic.Included[0];

            //<div @onclick="PlayOneShot" class="clickable">
                <VocabIcon Vocab="@Term"/>
                <h1>@Term.RU</h1>
            //</div>
            <h5>(@Term.EN)</h5>

            if(Term.Category == "Noun")
            {
                <p>@Logic.Included[0].Category - @Logic.Included[0].Gender</p>
            }else if(Term.Category == "Adjective")
            { 
                <p>@Logic.Included[0].Category</p>
            }

        }

        <br>
        <button class="btn" @onclick="() => Done()">Done</button>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        PlayOneShot();
    } 

    void Done()
    {
        Logic.Results.Add(Logic.Included[0].RU, true);
        LogicChanged.InvokeAsync(Logic);

        OnFinish?.Invoke();
    }
}