@page "/Lesson/{URL}"
@inject LessonService Lessons
@inject ProfileService Profile
@using Vetra.Components

<PageTitle>Vetra - Lesson</PageTitle>

@if (!Profile.Initialized || LessonType == -1 || NotImplemented.Count > 0)
{
    if (NotImplemented.Count > 0)
    {
        <p>@NotImplemented.Count Vocab Keys Missing!</p>
        
        <ul>
            @foreach (string S in NotImplemented)
            {
                <li style="user-select: all;">@S</li>
            }
        </ul>
    }
    else
    {
        <Waiting />
    }

}
else
{
    <div class="progress">
        <ProgressBar Width="@TotalFinished" Height="10" />
    </div>
    <div class="row">
        <div class="col-12 text-center mt-2">
            @if (StatusRight == "" && StatusWrong == "")
            {
                <h5 style="visibility: hidden;">Sapacer</h5>
            }
            <h5 class="@(StatusRight == "" ? "status-none" : "status-right")">@StatusRight</h5>
            <h5 class="@(StatusWrong == "" ? "status-none" : "status-wrong")">@StatusWrong</h5>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-3 col-0"></div>
        <div class="col-lg-6 col-12">
            @if (TotalFinished >= 100)
            {
                <div class="text-center">
                    <br>
                    <h3><strong>You have finished this lesson!</strong></h3>
                    <br>
                    <button class="btn"><a href="">Exit Lesson</a></button>
                </div>
            }
            else
            {
                <div class="window">
                    @switch (LessonType)
                    {
                        case 0 : <LessonType_Teach @key="LessonInstance" @bind-Logic="Logic" OnFinish="@LessonFinished" /> break;
                        case 1 : <LessonType_VowelChange @key="LessonInstance" @bind-Logic="Logic" OnFinish="@LessonFinished" /> break;
                        case 2 : <LessonType_Select @key="LessonInstance" @bind-Logic="Logic" OnFinish="@LessonFinished" /> break;
                        case 3 : <LessonType_Select @key="LessonInstance" @bind-Logic="Logic" OnFinish="@LessonFinished" /> break;
                    }
                </div>
            }

        </div>
        <div class="col-lg-3 col-0"></div>
    </div>
    <div class="row text-center">
        <div class="col-12">
            <p>All emojis designed by <a href="https://openmoji.org/">OpenMoji</a> – the open-source emoji and icon project. License: <a href="https://creativecommons.org/licenses/by-sa/4.0/#">CC BY-SA 4.0</a></p>
        </div>
    </div>
    
}

@code
{
    [Parameter]
    public string URL { get; set; } = "ERROR";

    public string Key = "ERROR";

    public LessonLogic Logic = default!;

    public float TotalFinished = 0f;

    public int LessonInstance = 0;

    public int LessonType = -1;

    public string StatusRight = "";
    public string StatusWrong = "";

    public List<string> NotImplemented = new List<string>();

    //POOLING SCRIPT TO ONLY SHOW USER 5 OR SET NUMBER OF NEW TERMS AT A TIME

    public void LessonFinished()
    {
        foreach (string Term in Logic.Results.Keys)
        {
            float Change = Profile.ChangeProgress(Term, Logic.Results[Term]);

            if (Change > 0)
            {
                StatusRight = $"{Term} +{Change:F2}%";
                StatusWrong = "";
            }
            else
            {
                StatusRight = "";
                StatusWrong = $"{Term} {Change:F2}%";
            }
        }

        _ = Profile.SaveProfile();
        NextLesson();
    }

    public void NextLesson()
    {
        RecalculateProgressBar();
        Logic = new LessonLogic(Key);

        Logic.Included.Add(GetNextTerm());

        LessonInstance++;
    }

    VocabHeader GetNextTerm()
    {
        string ReturnKey = Lessons.LessonHeaders[Key].Vocab[0];
        float Progress = 100f;

        for (int i = 0; i < Lessons.LessonHeaders[Key].Vocab.Count; i++)
        {
            string VocabKey = Lessons.LessonHeaders[Key].Vocab[i];

            if (!Profile.Data.LearnedVocab.Contains(VocabKey)) //Term is not known show next!
            {
                LessonType = 0;
                return Lessons.VocabHeaders[VocabKey];
            }
            else                                              //Term is known
            {
                if (Profile.Data.VocabProgression[Profile.Data.LearnedVocab.IndexOf(VocabKey)] < Progress)
                {
                    ReturnKey = VocabKey;
                    Progress = Profile.Data.VocabProgression[Profile.Data.LearnedVocab.IndexOf(VocabKey)];
                }
            }

        }

        Random Rand = new Random();
        LessonType = Rand.Next(1, 4); //include, exclude  CHANGE WHEN ADDING NEW GAME

        if(Progress == 0)
            LessonType = 0;

        //Console.WriteLine(Lessons.VocabHeaders[ReturnKey].RU);
        return Lessons.VocabHeaders[ReturnKey];
    }

    void RecalculateProgressBar()
    {
        int Num = Lessons.LessonHeaders[Key].Vocab.Count;
        TotalFinished = 0f;

        foreach (string V in Lessons.LessonHeaders[Key].Vocab)
        {
            int index = Profile.Data.LearnedVocab.IndexOf(V);
            if (index != -1)
            {
                TotalFinished += Profile.Data.VocabProgression[index];
            }
        }

        TotalFinished /= (float)Num;

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Key = string.Join(' ', URL.Split(' ').Select(word => char.ToUpper(word[0]) + word.Substring(1).ToLower()));
    }

    protected override async Task OnInitializedAsync()
    {
        while (!Profile.Initialized)
        {
            await Task.Delay(250);
        }

        foreach (string S in Lessons.LessonHeaders[Key].Vocab)
        {
            if (!Lessons.VocabHeaders.ContainsKey(S))
            {
                NotImplemented.Add(S);
            }
        }

        if (NotImplemented.Count == 0)
            NextLesson();
    }
}