@page "/Practice"
@inject LessonService Lessons
@inject ProfileService Profile
@using Vetra.Components

<PageTitle>Vetra - Practice</PageTitle>

@if (!Profile.Initialized || Lessons.LessonType == -1 || Profile.Data.LearnedVocab.Count == 0)
{
    if (Profile.Data.LearnedVocab.Count == 0)
    {
        <NoLearnedTerms />
    }else
    {
        <Waiting />
    }
}
else
{
    <div class="progress">
        <ProgressBar Width="@TotalFinished" Height="10" />
    </div>
    <div class="row">
        <div class="col-12 text-center mt-2">
            @if (StatusRight == "" && StatusWrong == "")
            {
                <h5 style="visibility: hidden;">Sapacer</h5>
            }
            <h5 class="@(StatusRight == "" ? "status-none" : "status-right")">@StatusRight</h5>
            <h5 class="@(StatusWrong == "" ? "status-none" : "status-wrong")">@StatusWrong</h5>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-lg-3 col-0"></div>
        <div class="col-lg-6 col-12">
            @if (TotalFinished >= 100 && !Endless)
            {
                <div class="text-center">
                    <br>
                    <h3><strong>You have finished all of your terms!</strong></h3>
                    <br>
                    <button class="btn"><a href="">Exit Practice</a></button>
                    <button class="btn" @onclick="ToggleEndless">Continue</button>
                </div>
            }
            else
            {
                <div class="game-window">
                    @switch (Lessons.LessonType)
                    {
                        case 0 : <LessonType_Teach @key="LessonInstance" @bind-Logic="Logic" OnFinish="@LessonFinished" /> break;
                        case 1 : <LessonType_VowelChange @key="LessonInstance" @bind-Logic="Logic" OnFinish="@LessonFinished" /> break;
                        case 2 : <LessonType_Select @key="LessonInstance" @bind-Logic="Logic" OnFinish="@LessonFinished" /> break;
                        case 3 : <LessonType_Select @key="LessonInstance" @bind-Logic="Logic" OnFinish="@LessonFinished" /> break;
                    }
                </div>
            }

        </div>
        <div class="col-lg-3 col-0"></div>

        @if (TotalFinished < 100 && !Endless)
        {
            <OpenMojiWatermark />
        }
    </div>
}

@code
{
    public LessonLogic Logic = default!;

    public float TotalFinished = 0f;

    public int LessonInstance = 0;

    public string StatusRight = "";
    public string StatusWrong = "";

    bool Endless = false;

    public void LessonFinished()
    {
        foreach (string Term in Logic.Results.Keys)
        {
            float Change = Profile.ChangeProgress(Term, Logic.Results[Term]);

            if (Change > 0)
            {
                StatusRight = $"{Term} +{Change:F2}%";
                StatusWrong = "";
            }
            else
            {
                StatusRight = "";
                StatusWrong = $"{Term} {Change:F2}%";
            }
        }

        _ = Profile.SaveProfile();
        NextLesson();
    }

    public void NextLesson()
    {
        RecalculateProgressBar();
        Logic = new LessonLogic();

        Logic.Included.Add(Lessons.GetNextTerm());
        Lessons.Fill(ref Logic);

        LessonInstance++;
    }

    void ToggleEndless()
    {
        Endless = !Endless;
    }

    void RecalculateProgressBar()
    {
        int Num = Profile.Data.LearnedVocab.Count;
        TotalFinished = 0f;

        for (int i = 0; i < Profile.Data.LearnedVocab.Count; i++)
        {
            TotalFinished += Profile.Data.VocabProgression[i];
        }

        TotalFinished /= (float)Num;

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        while (!Profile.Initialized)
        {
            await Task.Delay(250);
        }

        if(Profile.Data.LearnedVocab.Count > 0)
            NextLesson();
    }
}